{% extends "base.html" %}
{% block content %}


<section
  class=" relative z-10 after:contents-[''] after:absolute after:z-0 after:h-full xl:after:w-1/3 after:top-0 after:right-0 after:bg-gray-50">
  <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto relative z-10">
    <div class="grid grid-cols-12">

      <!-- Panier -->
      <div class="col-span-12 xl:col-span-8 lg:pr-8 pt-14 pb-8 lg:py-24 w-full max-xl:max-w-3xl max-xl:mx-auto">
        <div class="flex items-center justify-between pb-8 border-b border-gray-300">
          <h2 class="font-manrope font-bold text-3xl leading-10 text-black">Panier</h2>
        </div>
        <div class="grid grid-cols-12 mt-8 max-md:hidden pb-6 border-b border-gray-200">
          <div class="col-span-12 md:col-span-6">
            <p class="font-normal text-lg leading-8 text-gray-400">Info Produit</p>
          </div>
          <div class="col-span-12 md:col-span-6">
            <div class="grid grid-cols-7">
              <div class="col-span-2">
                <p class="font-normal text-lg leading-8 text-gray-400 text-center">Quantité</p>
              </div>
              <div class="col-span-3">
                <p class="font-normal text-lg leading-8 text-gray-400 text-center">Prix</p>
              </div>
              <div class="col-span-2">
                <p class="font-normal text-lg leading-8 text-gray-400 text-center">Supprimer</p>
              </div>
            </div>
          </div>
        </div>
        {% for product in products: %}
        <div class="grid grid-cols-12 mt-8 max-md:hidden pb-6 border-b border-gray-200">
          <div class="col-span-6 grid grid-cols-7">
            <div class="col-span-3">
              <a href="/item_info/{{product.id}}"><img src="static/asset/{{ product.image }}" alt=""
                  class="img-fluid rounded shadow-sm"></a>
            </div>
            <div class="col-span-1"></div>
            <div class="col-span-3">
              <h6 class="font-semibold text-base leading-7 text-black">{{product.name}}</h6><br>
              <h6 class="font-normal text-base leading-7 text-gray-500">{{product.description}}</h6>
            </div>
          </div>
          <div class="col-span-6 grid grid-cols-7 w-full items-center text-end">
            <div class="col-span-2 text-center">1</div>
            <div class="col-span-3 text-center">{{product.prix}} €</div>
            <div class="col-span-2 text-center"><a href="/remove_from_cart/{{product.id}}"><i style="color: black;"
                  class="fa-solid fa-trash"></i></a></div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class=" col-span-12 xl:col-span-4 bg-gray-50 max-xl:px-6 max-w-3xl xl:max-w-lg mx-auto lg:pl-8 py-24">
        <h2 class="font-manrope font-bold text-3xl leading-10 w-60 text-black pb-8 border-b border-gray-300">Commande
        </h2>
        <div class="mt-8">
          <div class="flex items-center justify-between py-8">
            <p class="font-medium text-xl leading-8 text-black">Total</p>
            <p class="font-semibold text-xl leading-8 text-indigo-600">{{total}} €</p>
          </div>
          <a href="/buy"><button
              class="w-full text-center bg-indigo-600 rounded-xl py-3 px-6 font-semibold text-lg text-white transition-all duration-500 hover:bg-indigo-700">Payer</button></a>
          </form>
        </div>
      </div>

      <!-- Whishlist -->
      <div class="col-span-12 xl:col-span-8 lg:pr-8 pt-14 pb-8 lg:py-24 w-full max-xl:max-w-3xl max-xl:mx-auto">
        <div class="flex items-center justify-between pb-8 border-b border-gray-300">
          <h2 class="font-manrope font-bold text-3xl leading-10 text-black">Whishlist</h2>
        </div>
        <div class="grid grid-cols-12 mt-8 max-md:hidden pb-6 border-b border-gray-200">
          <div class="col-span-12 md:col-span-6">
            <p class="font-normal text-lg leading-8 text-gray-400">Info Produit</p>
          </div>
          <div class="col-span-12 md:col-span-6">
            <div class="grid grid-cols-7">
              <div class="col-span-2">
                <p class="font-normal text-lg leading-8 text-gray-400 text-center"></p>
              </div>
              <div class="col-span-3">
                <p class="font-normal text-lg leading-8 text-gray-400 text-center">Prix</p>
              </div>
              <div class="col-span-2">
                <p class="font-normal text-lg leading-8 text-gray-400 text-center">Supprimer</p>
              </div>
            </div>
          </div>
        </div>
        {% for product in whishlist_product: %}
        <div class="grid grid-cols-12 mt-8 max-md:hidden pb-6 border-b border-gray-200">
          <div class="col-span-6 grid grid-cols-7">
            <div class="col-span-3"><a href="/item_info/{{product.id}}"><img src="static/asset/{{ product.image }}" alt=""
                  class="img-fluid rounded shadow-sm"></a>

            </div>
            <div class="col-span-1"></div>
            <div class="col-span-3">
              <h6 class="font-semibold text-base leading-7 text-black">{{product.name}}</h6><br>
              <h6 class="font-normal text-base leading-7 text-gray-500">{{product.description}}</h6>
            </div>
          </div>
          <div class="col-span-6 grid grid-cols-7 w-full items-center text-end">
            <div class="col-span-2 text-center"></div>
            <div class="col-span-3 text-center">{{product.prix}} €</div>
            <div class="col-span-2 text-center"><a href="/remove_from_wl/{{product.id}}"><i style="color: black;"
                  class="fa-solid fa-trash"></i></a></div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>

{% endblock %}